body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #8541b9;
}

a:hover {
  color: #9f1dff;
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.btn a {
  color: inherit;
}

.cardbox {
  margin: 20px;
}

.cardbox-title {
  font-size: 34px;
}

.cardbox-title a {
  padding: 0;
}

nav.navbar {
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
}

.navbar-brand a {
  color: #dddddd;
}


.navbar-brand a:hover {
  text-decoration: none;
  color: #999999;
}

.btn-toolbar .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer p {
  color: #dddddd;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.root {
  margin-top: 60px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .root {
    margin-top: 50px;
  }
}

.home-img-wrapper {
  min-height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 55px;
}

h1.title {
  font-size: 50px;
  font-weight: 500;
  position: absolute;
  top: 50px;
  margin: 50px;
  color: white;
  padding: 10px;
  background-color: indigo;
}

h2.subtitle {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 140px;
  margin: 50px;
  color: white;
  padding: 10px;
  background-color: #00824b;
}